# pip install -U -r requirements.txt
# pycocotools requires numpy 1.17 https://github.com/cocodataset/cocoapi/issues/356
numpy~=1.18.5
opencv-python~=3.4.2.17
torch~=1.7.0+cu101
torchvision~=0.8.1+cu101

matplotlib~=3.0.3
pycocotools
tqdm~=4.60.0
pillow~=8.0.1
tensorboard >= 1.14
PyYAML~=3.12
thop~=0.0.31.post2005241907


# Nvidia Apex (optional) for mixed precision training --------------------------
# git clone https://github.com/NVIDIA/apex && cd apex && pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" . --user && cd .. && rm -rf apex

# Conda commands (in place of pip) ---------------------------------------------
# conda update -yn base -c defaults conda
# conda install -yc anaconda numpy opencv matplotlib tqdm pillow ipython
# conda install -yc conda-forge scikit-image pycocotools tensorboard
# conda install -yc spyder-ide spyder-line-profiler
# conda install -yc pytorch pytorch torchvision
# conda install -yc conda-forge protobuf numpy && pip install onnx  # https://github.com/onnx/onnx#linux-and-macos


tensorrt~=6.0.1.5
pycuda~=2021.1
onnx~=1.9.0
tensorflow~=2.3.1
tensorflow-gpu~=2.3.1
easydict~=1.9
scipy~=1.6.3
imutils~=0.5.3